@model UCP1_PAW_015_A.Models.Siswa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Siswa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaSiswa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaSiswa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdJeniskelaminNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdJeniskelaminNavigation.IdJeniskelamin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdKelasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdKelasNavigation.IdKelas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSiswa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
